language: node_js
node_js:
  - 8.0.0
sudo: required
services:
  - docker
before_install:
  - docker-compose -f services.yml up --build -d
  - sleep 100
  - ./setup-DB.sh
after_script:
  - docker-compose down