version: '3'
services:
  redis:
    image: redis
    ports:
      - 6379:6379
  cassandra:
    image: cassandra
    ports:
      - 9042:9042
  kafka:
    image: docker-kafka
    build: docker-kafka/kafka
    ports:
      - 9092:9092
      - 2181:2181
    environment:
      ADVERTISED_HOST: 172.17.0.1
